.container {
    width: 1080px;
    display: flex;
}

.main {
    width: 100%;
    display: flex;
}

.border-color{
    border-color: #64FFDA;
}

.dev-img {
    height: 368px;
    width: 448px;
}

.about-para {
    width: 540px;
}