.container {
    width: 1080px;
    display: flex;
}

.main {
    width: 100%;
    display: flex;
}

.me-img {
    width: 378px;
    height: 378px;
}

.me-img-m {
    width: 220px;
    height: 220px;
}

.about-para {
    width: 540px;
}

.bullet-m {
    width: 40%;
}
