.container {
    width: 1080px;
    display: flex;
}

.main {
    width: 100%;
    display: flex;
}

.sect {
    width: 500px;
}

.divider {
    width: 2px;
    height: 350px;
    border-radius: 10;
}

.divider-m {
    width: 2px;
    height: 250px;
    border-radius: 10;
}

.logo {
    width: 222px;
    height: 62.6px;
}

.logo-m {
    width: 111px;
    height: 31px;
}

.sect-m {
    width: 45%;
}